:root {
	--color-primary: hsl(280, 100%, 28%);
	--color-secondary: hsl(0, 0%, 15%);
	--color-tertiary: hsl(0, 0%, 10%);
	--color-text: hsl(0, 0%, 70%);
	--color-text-input: hsl(0, 0%, 60%);
	--color-scrollbar: hsl(0, 0%, 25%);
	--color-success: hsl(110, 80%, 50%);
	--color-error: hsl(0, 80%, 50%);
	--scrollbar-width: 1rem;
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	list-style: none;
	text-decoration: none;
}

html {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
	color-scheme: dark;
}

body {
	scroll-snap-align: start;
	width: calc(100vw - var(--scrollbar-width));
	color: var(--color-text);
	background-color: var(--color-tertiary);
}

section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100vw - var(--scrollbar-width));
	height: 100vh;
	min-width: -moz-fit-content;
	min-width: fit-content;
	min-height: -moz-fit-content;
	min-height: fit-content;
	scroll-snap-align: start;
}

header {
	padding: 0;
	scroll-snap-align: start;
	background-color: var(--color-secondary);
}

footer {
	padding: 2rem 0;
	scroll-snap-align: start;
	background-color: var(--color-secondary);
}

footer > p {
	text-align: center;
	color: var(--color-text);
}

h1 {
	font-size: 10rem;
	color: var(--color-text);
}

h2 {
	font-size: 7rem;
	color: var(--color-text);
}

h3 {
	font-size: 6rem;
	color: var(--color-text);
}

h4 {
	font-size: 5rem;
	color: var(--color-text);
}

h5 {
	font-size: 4rem;
	color: var(--color-text);
}

h6 {
	font-size: 3rem;
	color: var(--color-text);
}

p {
	font-size: 2rem;
	color: var(--color-text);
}

a {
	color: var(--color-text);
}

input {
	color: var(--color-text);
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-between {
	justify-content: space-between;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.hover-grow {
	transition: transform 0.5s ease;
}

.hover-grow:hover {
	transform: scale(1.1);
}

.glass-dark {
	backdrop-filter: blur(1rem);
	-webkit-backdrop-filter: blur(1rem);
	background-color: hsla(0, 0%, 0%, 0.3);
	box-shadow: 0px 0px 1rem 0.5rem hsla(0, 0%, 0%, 0.5);
}

.glass-light {
	backdrop-filter: blur(1rem);
	-webkit-backdrop-filter: blur(1rem);
	background-color: hsla(0, 0%, 0%, 0.1);
	box-shadow: 0px 0px 1rem 0.5rem hsla(0, 0%, 0%, 0.3);
}

/* Scrollbar */

::-webkit-scrollbar {
	width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
	background: var(--color-secondary);
}

::-webkit-scrollbar-thumb {
	background: var(--color-scrollbar);
	border-radius: 10rem;
}
